@model IEnumerable<Doc>


<div class="row">
    <div class="col-md-3">
        <partial name="_menu" model="Model" />

    </div>
    <div class="col-md-9">
        <h3>Arge Bilgi Merkezi</h3>
        <partial name="_docs" model="Model" />
    </div>
</div>
