@model IEnumerable<Doc>

<div class="row">
    <div class="col-md-3">
        <partial name="_menu" model="Model" />

    </div>
    
    <div class="col-md-9">
        <center><h1> SEYİR MOBİL AKADEMİ </h1></center>
        <center><h3> Seyir Mobil içerisinde doküman ve bilgi paylaşım amaçlı geliştirilmiştir </h3></center>
    </div>
</div>