
@{
    ViewData["Title"] = "Home Page";
}

<head> @*class="  js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" lang="en" dir="ltr" data-date-format="non_us">
    <!--<![endif]-->*@
 








        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>


        <div class="cs-s">
            <h3 class="heading">
                <a href="/en/support/solutions/36000124902">FAQs</a>
            </h3>
            <div class="cs-g-c">

                <section class="cs-g article-list">
                    <div class="list-lead">
                        <a href="/en/support/solutions/folders/36000197722" title="General Guidelines"> General Guidelines <span class="item-count">5</span></a>
                    </div>
                    <ul>
                        <li>
                            <div class="ellipsis">
                                <a href="/en/support/solutions/articles/36000180574-test-service">Test Service</a>
                            </div>
                        </li>
                        <li>
                            <div class="ellipsis">
                                <a href="/en/support/solutions/articles/36000256723--sample-customer-business-information">[Sample] Customer Business Information</a>
                            </div>
                        </li>
                        <li>
                            <div class="ellipsis">
                                <a href="/en/support/solutions/articles/36000256724--sample-issue-information-check-sheet">[Sample] Issue Information Check Sheet</a>
                            </div>
                        </li>
                        <li>
                            <div class="ellipsis">
                                <a href="/en/support/solutions/articles/36000292381-quectel-e-service-system-user-guide-for-customer">Quectel_E-service_System_User_Guide_For_Customer</a>
                            </div>
                        </li>
                        <li>
                            <div class="ellipsis">
                                <a href="/en/support/solutions/articles/36000292390-quectel-e-service-system-demo-for-customer">Quectel_E-service_System_Demo_For_Customer</a>
                            </div>
                        </li>
                    </ul>
                </section>

            </div>
        </div>


    </head>
