<div class="list-group">
    <a href="/Home/DataCenterForEveryone" class="list-group-item list-group-item-action active">Bilgi Merkezi</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="/Home/DataCenterForCompany" class="list-group-item list-group-item-action active">Şirket içi Bilgi Merkezi</a>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("RdUser") || User.IsInRole("Admin"))
        {
        <a href="/Home/DataCenterForRD" class="list-group-item list-group-item-action active">Arge Bilgi Merkezi</a>
        }
    }
</div>